.button{
  position: absolute;
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  border-radius: 20px;
  top:20%;
  left:80%;
}
h1{
  text-align: center;
  text-shadow:absolute;
  text-color:lightgreen;
}
.bt1{
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.bt2{
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.bt3{
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.bt4{

  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.b1{
  background-image: url("skill.jpg");
  background-size: cover;
}
.bt5{
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
