.id{

  background-image: url(http://localhost/Smart_City_Hackathon2018_April/IMAGES/skill.png);
  background-size: cover;
}
.btn
{
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.btn1
{
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
